/* about */
.panel {
  background: white;
  box-shadow: 0 0 2rem 0 #e6e6e6;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  position: relative;
  text-align: center;
  margin-bottom: 2.4rem;
  font-family: "Nitti Grotesk", sans-serif;
}
.panel .btn-red {
  display: inline-block;
  width: 10rem;
  height: 3.5rem;
  line-height: 3.5rem;
  color: white;
  border-radius: 0.3rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #e33434;
}
.panel .btn-exit {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  float: right;
  color: #d6d6d6 !important;
  transition: all 0.3s ease-out;
}
.panel a {
  color: #e12a26;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.panel a:hover {
  text-decoration: underline;
}
.panel h1 {
  font-size: 4rem;
}
.panel h3 {
  color: #e12a26;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  padding-top: 1.8rem;
  font-family: "Nitti Grotesk", sans-serif;
}
.panel > p {
  padding: 0 2rem;
}
.panel p {
  font-size: 1rem !important;
  font-family: "Nitti Grotesk", sans-serif;
}
.panel .publikacijaText {
  font-size: 0.9rem !important;
}
.panel ul, .panel ol {
  padding: 0 4.8rem;
  width: 100%;
}
.panel ul li, .panel ol li {
  padding: 0.8rem 0;
  list-style: none;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0;
}
.panel ul li a, .panel ol li a {
  width: 100%;
  display: inline-flex;
  color: #333333;
  text-decoration: none;
}
.panel ul li a:hover, .panel ol li a:hover {
  text-decoration: none;
}
.panel ul li p, .panel ol li p {
  margin-bottom: 0;
}
.panel ul li:last-child, .panel ol li:last-child {
  border-bottom: none;
}
.panel ul li .material-icons, .panel ol li .material-icons {
  display: inline-block;
}
.panel ul li .material-icons:last-child, .panel ol li .material-icons:last-child {
  color: #d6d6d6;
  text-align: right;
  margin-left: auto;
}
.panel ol.leaderboard {
  text-align: left;
}
.panel ol.leaderboard li a {
  width: 100%;
  display: block;
}
.panel ol.leaderboard li a span:first-child {
  color: #969696;
  width: 3.2rem;
  display: inline-block;
}
.panel ol.leaderboard li a span.score {
  display: block;
  color: #969696;
  float: right;
  text-align: right;
}
.panel ol.leaderboard li a div.ratings {
  display: inline-flex;
  float: right;
}
.panel ol.leaderboard li a div.ratings .rating-plus {
  color: #23B353;
}
.panel ol.leaderboard li a div.ratings .rating-minus {
  color: #e12a26;
}
.panel ol.leaderboard li a div.ratings .material-icons {
  align-items: center;
  color: #d6d6d6;
}
.panel.big-panel {
  text-align: left;
  padding-top: 3.2rem;
  padding-bottom: 2.4rem;
}
.panel.big-panel h3 {
  padding: 0;
}
.panel.big-panel p {
  padding-bottom: 2.4rem;
  width: 100%;
}
.panel .line {
  border-bottom: 0.2rem dashed #e12a26;
  margin-bottom: 2.4rem;
}
.panel.publications p {
  font-size: 1.4rem;
}
.panel.index-statistics p {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 0;
}
.panel.index-statistics h3 {
  font-size: 5.6rem;
  font-weight: 100;
  color: #333333;
  margin-bottom: 0;
  padding-top: 0;
}
.panel.divide-cols .pure-g > div {
  border-right: 1px solid #f0f0f0;
  padding: 3.2rem;
}
.panel.divide-cols .pure-g > div:last-child {
  border-right: none;
}

.community .abc-left-column h3 {
  margin-bottom: 3.2rem;
}
.community .panel p:last-child {
  padding-bottom: 3.2rem;
}

.panel.small-panel .panel-grey {
  box-sizing: border-box;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #f7f7f7;
  border-top: 1px solid #f0f0f0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.versions .pure-g .version {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #f0f0f0;
}
.versions:last-child .version {
  border-bottom: none;
}

a.btn-red {
  display: inline-block;
  width: 16rem;
  height: 5rem;
  line-height: 5rem;
  color: white;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #e33434;
  background: #e12a26;
  background: -moz-linear-gradient(top, #ff4242 0%, #f03737 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff4242 0%, #f03737 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff4242 0%, #f03737 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: opacity 0.3s ease-out;
}
a.btn-red:hover {
  text-decoration: none;
  opacity: 0.85;
}

#ViriCjvt iframe {
  width: 100%;
  border: none;
}

/* about page novi design*/
.main-container-raztegnjen {
  height: 960px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.stranski-container-zmanjsan {
  height: 260px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;
}

.top-standard-margin {
  margin-top: 2rem;
}

.top-standard-margin-on-smaller-screens {
  margin-top: 2rem;
}

.imeVira {
  color: #e12a26;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  margin-left: 24px;
}

.odpriDrugiVir {
  color: #161616;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
}

.oOrodjuBesedilo {
  margin-top: 15px;
  margin-left: 24px;
  margin-right: 88px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
}

.changeAboutContentButton {
  margin-left: 24px;
  cursor: pointer;
  position: absolute;
  bottom: 19px;
  display: flex;
}

.imgDivRightArrowChangeAboutContent {
  float: right;
}

.rightArrowChangeAboutContent {
  height: 16px;
  width: 16px;
  margin-top: 3.5px;
  margin-left: 4px;
}

.httpsBibliografija {
  height: 16px;
  margin: 14px 0 26px;
  font-size: 0.9rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.32px;
  color: #e12a26 !important;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .pure-g > div:first-child > .panel.small-panel {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .pure-g > div > .panel.small-panel {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}
/* CONTAINERS */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*# sourceMappingURL=about-stari.css.map */
