$feature-flags: (
  grid-columns-16: true
);
@import '/usr/local/lib/node_modules/carbon-components/scss/globals/scss/styles.scss';

html {
  background-color: #f5f5f5;
}

.dimmBackground {
  opacity:0.6;
  pointer-events: none;
}

.translateLegalNotice {
  margin: 0 2rem;
  padding: 0.3rem;
  font-size: 0.7em;
  color: #aaa  !important;
  position: absolute;
  right: 0.2rem;
}

.translateLegalNotice:hover {
  filter: brightness(90%);
  cursor: pointer;
  text-decoration: underline !important;
}

.agreeLink {
  margin: 0 2rem;
  color: white !important;
}

.agreeLink:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#confirm {
  display: none;
  background-color: white;
  border: 1px solid #f0f0f0 !important;
  border-radius: 0.3%;
  position: absolute;
  width: 90% !important;
  left: 5%;
  top: 10%;
  box-sizing: border-box;
  text-align: center;
}

#confirm button {
  background-color: #e12a26;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

#confirm .message {
  text-align: left;
}

body {
  background-color: transparent;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
  //font-family: "Nitti Grotesk", sans-serif;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.posts a {
  font-size: 1.3em;
  text-decoration: underline;
  color: #212529;
}

.posts span {
  font-size: 1.1em;
  float: right;
}

.unauthenticated p {
  font-size: 1.3em;
  text-align: center;
}

.body {
  margin-top: 2em;
  font-size: 1.2em;
}

.edit a {
  text-decoration: underline;
  color: #212529;
  font-size: 1.5em;
}

textarea {
  position: relative !important;
  border: 0px none !important;
  height: 91% !important;
  resize: none !important;
  box-shadow: none !important;
  width: 90% !important;
  font-size: 14px !important;
}

.contentEditableTextArea {
  position: relative !important;
  border: 0px none !important;
  height: 436px !important;
  resize: none !important;
  box-shadow: none !important;
  width: 90% !important;
  overflow-y: auto;
  font-size: 14px !important;
  word-break: break-word !important;
}

.form-control[readonly] {
  background-color: white;
}

.countCharactersText {
  position: absolute;
  right: 16px;
  bottom: 9px;
  color: #b3b3b3;
  font-size: 1.0em;
}

.textAreaContainer {
  position: relative;
  border: 1px solid #f0f0f0 !important;
  border-radius: 0.3%;
  height: 500px;
  background-color: white;
}

.copySuccesfulContainer {
  position: relative;
  border: 1px solid #f0f0f0 !important;
  border-radius: 0.3%;
  height: 2em;
  width: 12em;
  background-color: white;
  padding-top: 5px;
  padding-left: 7px;
  background-color: #f0f0f0;
  bottom: 2.0em;
  visibility: hidden;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3 !important;
  opacity: 1; /* Firefox */
}

.borderOnFocusWithin:focus-within {
  box-shadow: 0 0 3pt 2pt #b3d9ff;
}

.postaviVejiceButton {
  margin-top: 5%;
}

.makeActionButton {
  margin-top: 0.2em !important;
  text-decoration: none !important;
  color: #b3b3b3 !important;
  cursor: pointer;
  font-size: 12px !important;
}

.makeActionButton:hover {
  text-decoration: underline !important;
}

.circle-button {
  position: absolute;
  background-color: #e12a26;
  border: none;
  color: white;
  width: 2.7em;
  height: 2.7em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
  margin: 10px 0 0 0 !important;
}

.circle-button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#aboutNavTitle {
  visibility: hidden !important;
}

.navigationButtons:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px !important;
}

.homeButton {
  font-size: 20px !important;
}

.homeButton:hover {
  font-size: 20px !important;
}

.btnInProgress {
  filter: brightness(90%);
}

.actionBtn {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px;
}

.actionBtn:hover {
  background: #f0f0f0; 
}

.likeDislikeButton {
  position: absolute;
  left: 24px;
  bottom: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px;
}

.likeDislikeButton:hover {
  background: #f0f0f0;
}

div.vertical-line-gray {
  width: 1px;
  background-color: #f0f0f0;
  margin-top: 5em;
  height: 0px;
}

.my-container {
  background-color: #ffffff;
  border-radius: 0.3%;
  /* margin: $spacing-07; */
  padding-right: $spacing-06 !important;
  padding-left: $spacing-06 !important;
  padding-top: $spacing-06 !important;
  -moz-box-shadow: 0px 3px 7px #dee2e6;
  -webkit-box-shadow: 0px 3px 7px #dee2e6;
  box-shadow: 0px 3px 7px #dee2e6;
}

.bx--grid {
  padding-right: $spacing-07 !important;
  padding-left: $spacing-07 !important;
  padding-top: $spacing-07 !important;
  max-width: initial !important;
}

.mb-3, .my-3 {
  margin-bottom: 0rem !important;
}

.postavi-vejice-btn {
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  margin-left: 0.2em;
  margin-bottom: 0.1em;
}

.primary-navbar {
  width: 100%;
}
.primary-navbar .logo {
  display: block;
  height: 4rem;
  padding: 1rem 0; 
}
.primary-navbar .logo img {
  display: block;
  height: 2rem; 
}
.primary-navbar .search-input {
  padding: 0.5rem;
  height: 4rem; 
}
.primary-navbar .search-input input {
  padding: 0 0.5rem;
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 3rem;
  line-height: 1.5;
  font-size: 1.42rem; 
}
.primary-navbar .pages {
  display: inline-block;
  float: right; 
}
.primary-navbar .pages a {
  display: inline-block;
  font-size: 1rem;
  line-height: 4rem;
  padding-left: 1.5rem;
  color: white;
  text-decoration: none; 
}

.secondary-navbar {
  height: 4rem;
  transition: height 0.3s ease-out; 
}

.secondary-navbar.open {
  height: 7rem; 
}

.secondary-navbar.open .corpuses-container {
  opacity: 1;
  transition: opacity 0.3s ease-out;
  transition-delay: 0.3s; 
}

.secondary-navbar .icons {
  right: 0;
  bottom: 0rem; 
}

.secondary-navbar .icons .icon-item {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  padding: 6px;
}

.secondary-navbar .icons .icon-item:hover {
  background: #f0f0f0; 
}

.secondary-navbar .icons .icon-item.active {
  background: #161616; 
}

.secondary-navbar .icons .icon-item.active .carbon-icon {
  filter: invert(1); 
}

.secondary-navbar .icons .icon-item .carbon-icon {
  margin-top: 0.4rem; 
}

.bg-red {
  background-color: #e12a26 !important; 
}

.bg-white {
  background-color: white !important; 
}

.markVejicaPrejJaZdejNe {
  color: black;
  background-color: #e0e0e0;
}

.markPopravljenaCrkovnaNapaka {
  color: black;
  background-color: #f77968;
}

.markVejicaPrejNeZdejJa {
  color: black;
  background-color: #b3d9ff;
}

.markNePopravljenaCrkovnaNapaka {
  color: black;
  background-color: #f5f768;
}

.sklanjanaBeseda {
  color: black;
  background-color: yellowgreen;
}

#sklanjaj {
  margin-top: 20px;
}

/* urejanje */

.potrdiButton {
  position: absolute !important;
  right: 7.0rem;
  bottom: 16px;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  border-radius: 2px;
  /* color: #b3b3b3 !important; */
  text-decoration: none !important;
  font-size: 14px !important;
}

.potrdiButton:hover {
  text-decoration: underline !important;
}


/* X button */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  filter: brightness(90%);
}

.close:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #b3b3b3;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* Change on medium or bigger screens */
@media (min-width: 768px) {
  .circle-button {
    position: absolute !important;
    margin-top: 0px !important;
  }

  div.vertical-line-gray {
    height: 430px;
  }

  .stranski-container-zmanjsan {
    height: 216px;
  }
}

@media (min-width: 1190px) {
  .top-standard-margin-on-smaller-screens {
    margin-top: 0.0rem;
  }

  #confirm {
    width: 56.5% !important;
    left: 21.8% !important;
  }
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.select-container {
  display: inline-flex;
  cursor: pointer;
}

.select-options {
  position: absolute;
  margin-left: -2.5px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  display: none;
  z-index: 1;
}

.select-option {
  padding: 5px;
  cursor: pointer;
}

.select-option:hover {
  filter: brightness(90%);
  opacity:0.5;
}

.optionText {
  font-size: 14px !important;
}