__pycache__/
build/

tmp/
bert_model_naucen/
crosloengual-bert-pytorch/

finetuned_slobert_model/
finetuned_slobert_model_dots/

correct_words_shape_model/
predict_masks_model/
general_model_jul_19/

root_lemma_dict.pkl
sloleks_root_dict.pkl

.DS_Store
crkovalnikv/
general_model_24_jul/
general_model_aug_9/
maksed_model_aug_7/
sklanjanje_aug_2/
word_order_aug_2/
maksed_model_aug_22/
