$font-headers: serif;
$font-text: 'Nitti Grotesk', sans-serif;

$primary-color: #373E4A;
$primary-color-dark: #373E4A;
$primary-color-light: #56606F;
$primary-color-darker: #2F353F;


$text-color: #333333;
$background: #f7f7f7;
$grey-button: #f7f7f7;
$grey-hover: #f7f7f7;
$grey-text: #969696;
$grey-border: #f0f0f0; 
$grey-icon-or-filtered: #d6d6d6;

$white-btn-hover: #f8f8f8;



$shadow-lvl1: 0 0 2rem 0 rgba(230,230,230,100);
$shadow-lvl2: 0 0.1rem 1rem 0 rgba(0,0,0,0.24);
$shadow-lvl3: 0 0.5rem 1rem 0 rgba(0,0,0,0.15);
$shadow-hover: 0 0 1rem 0 rgba(0,0,0,0.35);
$shadow-btn: 0rem 0.1rem 0.4rem rgba(0,0,0,0.24);


$uni-black: #333333;
$uni-black-lighter: #4d4d4d;



$orange: #FF6E45;
$green-dark: #23B353;
$green-dark-hover:#29cc5f;


$green: #23B353;

$red: #e12a26;
$red-btn-top: #ff4242;
$red-btn-bottom: #f03737;
$red-btn-border: #e33434;
//$blue: #2483b3;
$blue: rgb(225, 42, 38);
$blue-dark: #2996cc;
//???
$grey-dark: #373E4A;
$grey-darker: #2F353F;
$shadow: rgba(0,0,0,0.35);

$black-btn-top: #404040;
$black-btn-bottom: #333333;
$black-btn-border: #404040;


/* about */
.panel {
    background: white;
    box-shadow: $shadow-lvl1;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    position:relative;
    text-align: center;
    margin-bottom: 2.4rem;
    font-family: "Nitti Grotesk", sans-serif;
    .btn-red{ 
        display: inline-block;
        width: 10rem;
        height: 3.5rem;
        line-height: 3.5rem;
        color: white;
        border-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
        border: 1px solid #e33434;
    }
    .btn-exit {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        float: right;
        color: #d6d6d6 !important;
        transition: all 0.3s ease-out;
    }
    a {
      color: $red;
      text-decoration: none;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      &:hover {
        text-decoration: underline;
      }
    }
    h1 {
        font-size: 4rem;
    }
    h3 {
        color: #e12a26;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 1.2rem;
        padding-top: 1.8rem;
        font-family: "Nitti Grotesk", sans-serif;
    }
    > p {
        padding: 0 2.0rem;
    }
    p {
      //padding-bottom: 3.2rem;
      font-size: 1.0rem !important;
      font-family: "Nitti Grotesk", sans-serif;
    }
    .publikacijaText {
        font-size: 0.9rem !important;
    }
  
    ul, ol {
      padding: 0 4.8rem;
      width:100%;
      li {
        padding: 0.8rem 0;
        list-style: none;
        width: 100%;
        display:inline-flex;
        vertical-align: middle;
        border-bottom: 1px solid $grey-border;
        a {
          width: 100%;
          display: inline-flex;
          color: $text-color;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        p {
          margin-bottom: 0;
        }
        &:last-child {
          border-bottom: none;
        }
        .material-icons {
          display:inline-block;
          &:last-child {
            color: $grey-icon-or-filtered;
            text-align: right;
            margin-left: auto;
          }
        }
      }
    }
    ol.leaderboard {
      text-align: left;
      li {
        a  {
          width:100%;
          display:block;
          span:first-child {
            color: $grey-text;
            width: 3.2rem;
            display: inline-block;
          }
          span.score {
            display:block;
            color: $grey-text;
            float:right;
            text-align: right;
          }
          div.ratings {
            display: inline-flex;
            float:right;
            .rating-plus {
              color:$green;
            }
            .rating-minus {
              color:$red;
            }
            .material-icons {
              align-items: center;
              color:$grey-icon-or-filtered;
            }
          }
        }
      }
    }
    &.big-panel {
      text-align: left;
      padding-top: 3.2rem;
      padding-bottom: 2.4rem;
      h3 {
        padding:0;
      }
      p {
        padding-bottom: 2.4rem;
        width:100%;
      }
    }
    .line {
      border-bottom: 0.2rem dashed $red;
      margin-bottom: 2.4rem;
    }
    &.publications {
      p {font-size:1.4rem;}
    }
    &.index-statistics {
      p {font-size:2.4rem;font-weight: 300;margin-bottom:0;}
      h3 {
        font-size: 5.6rem;
        font-weight: 100;
        color: $text-color;
        margin-bottom: 0;
        padding-top: 0;
      }
  
    }
    &.divide-cols .pure-g > div {
      border-right: 1px solid $grey-border;
      padding: 3.2rem;
      &:last-child {
        border-right:none;
      }
    }
  
  }
  .community {
    .abc-left-column {
      h3 {margin-bottom: 3.2rem;}
    }
    .panel {
      p:last-child {
        padding-bottom: 3.2rem;
      }
    }
  }
  .panel.small-panel {
    .panel-grey {
      box-sizing: border-box;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      background: $grey-hover;
      border-top: 1px solid $grey-border;
      margin-top:0;
      margin-bottom:0;
      position:absolute;
      bottom:0;
      width:100%;
    }
  }
  .versions {
    .pure-g {
      .version {
        padding-top:3.2rem;
        padding-bottom:3.2rem;
        border-bottom: 1px solid $grey-border;
      }
    }
    &:last-child {
      .version {
        border-bottom:none;
      }
    }
  }
  
  a.btn-red {
    display:inline-block;
    width:16rem;
    height:5rem;
    line-height:5rem;
    color:white;
    border-radius: 0.4rem;
    font-weight:500;
    font-size:1.2rem;
    text-align: center;
    border: 1px solid $red-btn-border;
    background:$red;
    background: -moz-linear-gradient(top, $red-btn-top 0%, $red-btn-bottom 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $red-btn-top 0%,$red-btn-bottom 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $red-btn-top 0%,$red-btn-bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: opacity 0.3s ease-out;
    &:hover {
      text-decoration: none;
      opacity: 0.85
    }
  }
  
  
  
  #ViriCjvt {
    iframe {
      width: 100%;
      border: none;
    }
}

/* about page novi design*/

.main-container-raztegnjen {
    height: 960px;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .stranski-container-zmanjsan {
    height: 260px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
  }
  
  .top-standard-margin {
    margin-top: 2.0rem;
  }
  
  .top-standard-margin-on-smaller-screens {
    margin-top: 2.0rem;
  }
  
  .imeVira {
    color: #e12a26;
    //font-family: IBMPlexSans;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    margin-left: 24px;
  }
  
  .odpriDrugiVir {
    color: #161616;
    //font-family: IBMPlexSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
  }
  
  .oOrodjuBesedilo {
    margin-top: 15px;
    margin-left: 24px;
    margin-right: 88px;
    //font-family: IBMPlexSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
  }
  
  .changeAboutContentButton {
    margin-left: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 19px;
    display: flex;
  }
  
  .imgDivRightArrowChangeAboutContent {
    float: right
  }
  
  .rightArrowChangeAboutContent {
    height: 16px;
    width: 16px;
    margin-top: 3.5px;
    margin-left: 4px;
  }
  
  .httpsBibliografija {
    height: 16px;
    margin: 14px 0 26px;
    //font-family: IBMPlexSans;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.32px;
    color: #e12a26 !important;
  }
  
  .hidden {
    display: none;
  }
  
@media screen and (min-width: 768px) {
    .pure-g > div:first-child > .panel.small-panel {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .pure-g > div > .panel.small-panel {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
}
  
  /* CONTAINERS */
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }