@import 'cjvt-theme';

footer {
  background: $ui-black;
  height:90rem;
  margin-top:2rem;

  .right-side-contact{
    border-left: 1px solid $grey-b-40;
  }
  .footer-col-content {
    position: relative;
    padding-left:1.5rem;
    height:12rem;
    border-left:1px solid $grey-b-40;
    h5 {
      padding-top:1.5rem;
      color:$grey-b-70;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: 0.32px;
    }
    p,a {
      color: white;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: 0.32px;
    }
    img {
      width:100%;
    }
  }
  .to-bottom {
    position: absolute;
    bottom:0;
    &.ft-cjvt-logo {
      bottom:-4.5%;
    }
  }
}

/* Change on medium or bigger screens */
@media (min-width: 768px) {
  footer {
    height:22rem;
    .right-side-contact{
      border-left: 0px;
    }
  }
}
