{% block footer %}

<!-- <div class="bx--grid bx--grid--full-width">
    <div class="bx--row" style="height:4rem;">
        <div class="bx--col-md-1">
            <div class="footer-col-content">
                <h5>Izdal</h5>
                <div class="to-bottom">
                <a class="uni-logo" href="https://www.uni-lj.si/" target="_blank">
                    <img src="static/assets/unilj_logo.svg"/>
                </a>
                </div>
            </div>
        </div>
        <div class="bx--col-md-1">
            <div class="footer-col-content">
            </div>
        </div>
        <div class="bx--col-md-1">
            <div class="footer-col-content">
                <h5>Uporavljanje vira</h5>
                <div class="to-bottom ft-cjvt-logo">
                <p>
                    <a href="http://www.cjvt.si" target="_blank">
                        <img src="static/assets/cjvt_logo.svg" />
                    </a>
                </p>
                </div>
            </div>
        </div>
        <div class="bx--col-md-1">
            <div class="footer-col-content">
                <h5>prenos vira</h5>
                <div class="to-bottom">
                <p><a href="http://hdl.handle.net/11356/1230" target="_blank"><img src="static/assets/clarin_logo.svg"/></a></p>
                </div>
            </div>
        </div>
        <div class="bx--col-md-2">
            <div class="footer-col-content">
                <h5>Dostopnost vira</h5>
                <div class="to-bottom">
                    <p>Delo je dostopno pod licenco <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a></p>
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"></a>
                    <img src="static/assets/cc.svg" style="width:5%;margin-top:1rem;"/><img src="static/assets/by.svg" style="width:5%;margin-top:1rem;margin-left:.1rem;"/><img src="static/assets/sa.svg" style="width:5%;margin-top:1rem;margin-left:.1rem;"/>
                </div>
            </div>
        </div>
        <div class="bx--col-md-1">
            <div class="footer-col-content">
                <h5>Kontakt</h5>
                <div class="to-bottom">
                <p>Center za jezikovne vire in tehnologije</p>
                <h5>Večna pot 113</br>
                    SI-1000 Ljubljana</h5>
                </div>

            </div>
        </div>
        <div class="bx--col-md-1">
            <div class="footer-col-content right-side-contact">
            <div class="to-bottom">
                <h5>Telefon</h5>
                <p><a>+386 1 479 82 99</a></p>
                <h5>Email</h5>
                <p><a href="mailto:info@cjvt.si">info@cjvt.si</a></p>

            </div>
            </div>
        </div>
    </div>
</div> -->


<div class="pure-g">
    <div class="pure-u-1-2 pure-u-md-1-6">
        <a class="uni-logo" href="https://www.uni-lj.si/" target="_blank">
            <img src="static/assets/unilj_logo.svg"/>
        </a>
    </div>

    <div class="pure-u-1-2 pure-u-md-1-6">
        <h5 id="prenosViraFooter">Prenos vira</h5>
        <a href="https://github.com/clarinsi/vejice" target="_blank"><img src="static/assets/clarin_logo2.svg"/></a>


    </div>
    <div class="pure-u-1-2 pure-u-md-1-6 left-border">
        <h5 id="upravljanjeViraFooter">Upravljanje vira</h5>
        <a href="http://www.cjvt.si" target="_blank">
            <img src="static/assets/cjvt_logo.svg" />
        </a>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-6 left-border">
        <h5 id="infoOViruFooter">Informacije o viru</h5>
        <p><i class="material-icons">mail_outline</i> <a href="mailto:info@cjvt.si">info@cjvt.si</a></p>
        <p id="cjvtTextFooter">Center za jezikovne vire in tehnologije</p>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-6">
        <h5 id="dostoponostViraFooter">Dostopnost vira</h5>
        <div class="cc-block">
            <p id="dostoponostViraTextFooter">Delo je dostopno pod licenco <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a></p>
            <!--<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.svg" style="margin-top:1.6rem;" /></a>-->
        </div>
    </div>
    <div class="pure-u-1-2 pure-u-md-1-6">
        <!--<h5>footer_download</h5>
        <a href="https://www.clarin.si/repository/xmlui/handle/11356/1166" target="_blank"><img src="static/assets/clarin_logo.svg"/></a>
        -->
    </div>
</div>

 {% endblock %}