{% extends "layout.html" %}

{% block title %}kolofon{% endblock %}

{% block body %}

<div class="container">
    <div id="main-content">

        <div class="pure-g">
            <div class="pure-u-1-1 u-padding-top-half">
                <div class="panel big-panel">
                    <div class="pure-g">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-5-6">
                            <h3 id="kolofonTitle">Kolofon 
                                <a href="about" class="btn-exit">
                                    <i class="material-icons" style="font-size: 1.6rem !important;">close</i>
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-1-2">
                            <p id="kolofonText">
                                <strong>Vejice 2.0</strong>
                                <br/>Orodje za strojno postavljanje vejic
                                <br/>Automated comma placement tool
                                <br/>
                                <br/><strong>Zbirka</strong>
                                <br/>Orodja CJVT
                                <br/>
                                <br/><strong>Avtorji</strong>
                                <br/>Martin Božič, Marko Robnik-Šikonja, Simon Krek, Špela Arhar Holdt, Iztok Kosem, Polona Gantar, Jaka Čibej, Kaja Dobrovoljc, Bojan Klemenc, Cyprian Laskowski
                                <br/>
                                <br/><strong>Izdelava spletnega vmesnika</strong>
                                <br/>Martin Božič
                                <br/>
                                <br/><strong>Oblikovanje spletnega vmesnika</strong>
                                <br/>Gašper Uršič, Gregor Makovec, Anže Jesenovec (Studio Kruh)
                                <br/>
                                <br/><strong>Izdajatelj</strong>
                                <br/>Center za jezikovne vire in tehnologije, Univerza v Ljubljani
                                <br/>Orodje je dostopno pod licenco GNU General Public License, različica 3
                                <br/>
                                <br/><strong>Citiranje</strong>
                                <br/>Vejice 2.0, orodja.cjvt.si/vejice, dostop 26. 11. 2020.
                            </p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}