{% extends "layout.html" %}

{% block title %}about{% endblock %}

{% block body %}

<!-- about page stari design -->
<div class="container">
    <div id="main-content">
    
        <div class="pure-g u-text-center ">
            <div class="pure-u-1-1 pure-u-md-1-3 u-padding-top-half" style="display: flex">
                <div class="panel small-panel u-text-center" style="padding-bottom: 10rem;width:100%;">
                    <h3 id="vejiceNaslov">Vejice</h3>
                    <p>Orodje za strojno postavljanje vejic<br/>Automated comma placement tool</p>
                    <div class="panel-grey">
                        <a id="kolofonBtn" href="kolofon" class="btn-red">Kolofon</a>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3 u-padding-top-half" style="display: flex">
                <div class="panel small-panel u-text-center" style="padding-bottom: 10rem;width:100%;">
                    <h3 id="trenutnaRazlicicaNaslov">Trenutna različica</h3>
                    <h1 style="font-weight: 100">2.0</h1>
                    <p id="datumZadnjePosodobitve">Datum izdaje posodobitve: <br/>6. 11. 2022</p>
                    <div class="panel-grey">
                        <a id="arhivBtn" href="arhivRazlicic" class="btn-red">Arhiv različic</a>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3 u-padding-top-half" style="display: flex">
                <div class="panel small-panel u-text-center" style="padding-bottom: 10rem;width:100%;">
                    <h3 id="licencaNaslov">Dostopnost</h3>
                    <p id="vejicarDostopnost">Vejicar je dostopen v repozitoriju <a href="https://github.com/clarinsi/vejice" target="_blank">CLARIN.SI</a>.<br/><br/>To delo je dostopno pod licenco <br/><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Priznanje avtorstva-<br/>Deljenje pod enakimi pogoji 4.0.</a></p>
                    <div class="panel-grey">
                        <a id="repoVejiceBtn" class="btn-red" href="https://github.com/clarinsi/vejice" target="_blank">Vejicar reporzitorij</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <div class="panel big-panel">
                    <div class="pure-g">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-5-6 pure-u-lg-1-2">
                            <h3 id="oOrodjuTitle">O orodju Vejice 2.0</h3>
    
                            <p id="oOrodjuBesedilo" class="intro">Izhodiščna verzija orodja je bila izdelana v okviru diplomskega dela Martina Božiča “Globoke nevronske mreže za postavljanje vejic v slovenskem jeziku” na Fakulteti za računalništvo in informatiko UL, pod mentorstvom prof. Marka Robnika Šikonje. <br/><br/>Spletno orodje preverja postavitev vejic v slovenskih besedilih s pomočjo jezikovnega modela BERT, izpopolnjenega za problem postavljanja vejic. Za izpopolnjevanje modela je bila zgrajena učna množica iz dela besedil korpusa sodobne standardne slovenščine Gigafida 2.0. Učna množica je obsegala 907.870 stavkov, ki so v povprečju vsebovali vsak po dve vejici.<br/><br/>Orodje za strojno preverjanje postavitve vejic je zasnovano kot pomoč pri postavljanju vejic in ni nadomestek za lektorski pregled besedil. Orodje opozarja na manjkajoče vejice s sivo barvo in na odvečne vejice z modro barvo. Glede na teste program trenutno deluje uspešno v 96 odstotkih primerov.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
        <div class="pure-g">
            <div class="pure-u-1-1">
                <div class="panel big-panel publications">
                    <div class="pure-g">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-5-6 pure-u-lg-1-2">
                            <h3 id="publikcijeTitle">Publikacije</h3>
    
                            
                            <p class="publikacijaText">
                                BOŽIČ, Martin (avtor), ROBNIK ŠIKONJA, Marko (mentor). 
                                <em>Globoke nevronske mreže za postavljanje vejic v slovenskem jeziku.

                                </em> Diplomsko delo/naloga. Fakulteta za računalništvo in informatiko Univerze v Ljubljani.
                                <br/>
                                <a class="httpsBibliografija" href="https://repozitorij.uni-lj.si/Dokument.php?id=133688&lang=slv">https://repozitorij.uni-lj.si/Dokument.php?id=133688&lang=slv
                                </a>
                                <br/>
                                <br/>ULČAR, Matej, ROBNIK ŠIKONJA, Marko. 
                                <em>Finest BERT and CroSlo-Engual BERT: less is more in multilingual models.

                                </em> arXiv preprint. 2020.
                                <br/>
                                <a class="httpsBibliografija" href="https://arxiv.org/abs/2006.07890 ">https://arxiv.org/abs/2006.07890
                                </a>
                                <br/>
                                <br/>KREK, Simon, ARHAR HOLDT, Špela, ERJAVEC, Tomaž, ČIBEJ, Jaka, REPAR, Andraž, GANTAR, Polona, LJUBEŠIĆ, Nikola, KOSEM, Iztok, DOBROVOLJC, Kaja. 
                                <em>Gigafida 2.0: The Reference Corpus of Written Standard Slovene.

                                </em> V: Proceedings of the 12th Language Resources and Evaluation Conference" 2020. European Language Resources Association", str. 3340--3345".
                                <br/>
                                <a class="httpsBibliografija" href="https://www.aclweb.org/anthology/2020.lrec-1.409">https://www.aclweb.org/anthology/2020.lrec-1.409
                                </a>
                                <br/>
                                <br/>HOLOZAN, Peter. Zbirka primerov rabe vejice Vejica 1.3. V: FIŠER, Darja (ur.), PANČUR, Andrej (ur.). 
                                <em>Zbornik konference Jezikovne tehnologije in digitalna humanistika, 20.-21. september 2018, Ljubljana, Slovenija.

                                </em> Ljubljana: Znanstvena založba Filozofske fakultete. 2018, str. 99–105. 
                                <br/>
                                <a class="httpsBibliografija" href="http://www.sdjt.si/wp/wp-content/uploads/2018/09/JTDH-2018_Holozan_Zbirka-primerov-rabe-vejice-Vejica-1-3.pdf">http://www.sdjt.si/wp/wp-content/uploads/2018/09/JTDH-2018_Holozan_Zbirka-primerov-rabe-vejice-Vejica-1-3.pdf
                                </a>
                                <br/>
                                <a class="httpsBibliografija" href="http://hdl.handle.net/11356/1185 ">http://hdl.handle.net/11356/1185
                                </a>
                            </p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-1">
                <div class="panel big-panel publications">
                    <div class="pure-g">
                        <div class="pure-u-1-12"></div>
                        <div class="pure-u-5-6 pure-u-lg-1-2">
                            <h3 id="pogojiUporabeTitle">Pogoji uporabe</h3>

                            <p id="pogojiUporabeText" class="publikacijaText">
                                Upravitelj orodja za postavljanje vejic, ki je javno dostopno na naslovu: <a href="https://orodja.cjvt.si/vejice/home">https://orodja.cjvt.si/vejice/home</a> je Center za jezikovne vire in tehnologije Univerze v Ljubljani, Fakulteta za računalništvo in informatiko, Večna pot 113, 1000 Ljubljana. 
                                Orodje za postavljanje vejic deluje tako, da uporabniki v prazno polje vnesejo besedilo po svoji izbiri in kliknejo na gumb, s katerim zaženejo orodje. Tako dobijo besedilo s predlogi za odpravo napak pri postavitvi vejic.  
                                Orodje za postavljanje vejic je zasnovano kot pomoč pri postavljanju vejic in ni nadomestek za slovnico, pravopis ali lektorski pregled besedil. Upravitelj orodja ne odgovarja za morebitne nepravilnosti, ki so posledica uporabe orodja ali za kakršnokoli škodo, ki bi uporabnikom nastala zaradi nepravilnosti, ki so posledica avtomatizirane obdelave besedil s pomočjo orodja.   
                                
                            </p>

                            <h3 id="soglasjeZaObdelavoTitle">Soglasje za obdelavo in hrambo besedil</h3>
                            
                            <p id="soglasjeZaObdelavoText" class="publikacijaText">
                                Uporabniki orodja za postavljanje vejic v aplikacijo vnašajo besedila prostovoljno in razumejo ter soglašajo s tem, da upravitelj orodja vnesena besedila lahko hrani in obdeluje in sicer za potrebe statistične in jezikovne analize delovanja orodja in razvoja in izboljšav metodologije oziroma modela orodja. 
                                Če besedila, ki jih uporabniki vnesejo v orodje, vsebujejo osebne podatke, uporabniki z vnosom besedil soglašajo tudi s hrambo in obdelavo teh osebnih podatkov, ki bodo uporabljeni zgolj za analizo in razvoj orodja za postavljanje vejic. 
                                Uporabniki, ki ne želijo hrambe in obdelave osebnih podatkov za namene analize in razvoja orodja za postavljanje vejic, naj pred vnosom besedila v orodje take podatke odstranijo. 
                                Besedila, ki jih uporabniki vnesejo v orodje, bodo dostopna samo upravitelju orodja in osebam,  ki ga razvijajo, ne bodo pa posredovana tretjim osebam ali dostopna javnosti.   
                                Vsa vnesena besedila upravitelj orodja lahko obdeluje in hrani do 3 leta, po preteku tega obdobja pa jih trajno izbriše.
                                <br/>
                            </p>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!--<div class="pure-g">
            <div class="pure-u-1-1">
                <div class="panel divide-cols u-text-center">
                    <div class="pure-g">
                        <div class="pure-u-1-1 pure-u-md-1-3">
                            <p>Podatke za Slovar sopomenk sodobne slovenščine je pripravila interdisciplinarna ekipa raziskovalcev <a href="https://www.cjvt.si/" target="_blank">Centra za jezikovne vire in tehnologije Univerze v Ljubljani</a>.</p>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-3">
                            <p>Razvojni del je podprl infrastrukturni program CJVT, raziskovalni del pa programska skupina ARRS P6-0215 Slovenski jezik - bazične, kontrastivne in aplikativne raziskave.</p>
                        </div>
                        <div class="pure-u-1-1 pure-u-md-1-3">
                            <p>Slovarski vmesnik je razvil Studio Kruh</br>
                                v sodelovanju z Leonom Noetom Jovanom.</br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    
    </div>
</div>

{% endblock %}